%h1 Spring Hill First Presbyterian VBS 2012 Registration

%center
  %strong Registration Form (one per child)
%center
  %i Children 4 years old through Rising 5th Grade
= render 'form'

= (@user ? link_to('Back', attendees_path) : '')
